.courses {
	padding: 15px;
}
.courses__content {
	min-height: calc(100vh - 192px);
	border: 3px solid #bad6e9;
	padding: 15px;
}
.courses__list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 30px;
}
.courses__content > .error {
	text-align: center;
}
.courses__controls {
	display: flex;
	flex-flow: row nowrap;
}
.courses__controls > div:nth-child(1) {
	flex: 2 2 50%;
}
.courses__controls > div:nth-child(2) {
	flex: 1 1 30%;
}
.courses__controls > div:nth-child(3) {
	flex: 1 1 20%;
}
